# If you make changes to this file you will have to update the manifest lock
# this can be done by running the following commands in the WORKSPACE_ROOT (AOSP_ROOT)
#
#  bazel build @goldfish_build//:requirements.update
#  cp bazel-bin/external/goldfish_build+/requirements.update build/bazel
#
# This will create bazel-bin/external/goldfish_build+/requirements.update
# which you will need to copy to requirements_lock.txt
#
--extra-index-url https://pypi.org/simple/
PyYAML==6.0.3